@import 'config/bundle';

$horizontal-padding: 30px;
$border-radius: 10px;

.accountListElement {
    @include shadowBorder($color-grey);

    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    background-color: $color-white;
    color: $color-text;
    padding: 15px $horizontal-padding;

    &:focus {
        outline: none;
    }

    h3 {
        margin-bottom: 0;
    }
}

.active {
    box-shadow: 0 0 0 2px $color-pale-blue inset;
}

.disabled {
    opacity: 0.4;
}

.clickable {
    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 2px $color-pale-blue inset;
    }
}

.accountName {
    @include overflowEllipsis;

    display: inline;
    max-width: 100%;
}

.dividingLine {
    content: '';
    background: $color-grey;
    width: calc(100% + 2 * #{$horizontal-padding});
    height: 1px;
    display: block;
    margin-left: calc(-1 * #{$horizontal-padding});
}

.header {
    > :first-child {
        margin-right: 10px;
        flex: 1 1 calc(50% - 10px);
        min-width: 0;
    }

    > :last-child {
        flex: 1 1 auto;
        margin-left: 10px;
    }

    svg {
        flex: 0 0 auto;
    }
}

.row {
    margin: 10px 0;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.multisig {
    padding-left: 5px;
    height: $font-size-body3;
}

.delegationImage,
.bakerImage {
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
}

.delegationImage {
    width: 70px;
}

.bakerImage {
    width: 65px;
}

.statusImage {
    margin-left: 10px;
    margin-top: -6px;
    margin-bottom: -6px;
}

.info {
    display: flex;
    position: absolute;
    top: 1px;
    left: 1px;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border-radius: $border-radius;
    background: $color-white;
    opacity: 0.95;
}

.infoText {
    text-align: center;
    margin: auto;
    max-width: 80%;
}

.infoImageActivated {
    margin-left: auto;
    margin-top: 11px;
    z-index: 1;
    path {
        fill: $color-pale-blue;
    }
}
