.AttributeItem {
    display: flex;
    background: white;
    border-radius: 10px;
    color: black;
    border: gray;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
}

.AttributeItem input {
    margin: 30px;
}

.splitPage {
    display: flex;
}

.pickAttributesLeftSide {
    width: 60%;
}

.pickAttributesRightSide {
    width: 40%;
    margin: 30px;
}
