@import 'config/bundle';

.item {
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: 14px;
    }
}

.name {
    @include overflowEllipsis;

    max-width: 90%;
    margin: 0 auto;
}

.identityIcon {
    height: 25px;
    fill: $color-grey;
}
