@import 'config/bundle';

.deleteButton {
    margin-top: 10px;
}

.binIcon {
    width: 15px;

    path {
        fill: $color-salmon-red;
    }
}

.actions {
    display: flex;
    justify-content: center;

    > *:first-child {
        margin-right: 40px;
    }
}
