.card {
    composes: flexColumn from global;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 400px;
    padding: 30px 60px;
    justify-content: space-between;
    text-align: center;
}
