@import 'config/bundle';

.buildSchedule {
    text-align: center;
    position: relative;

    > div {
        margin-bottom: 40px;
    }
}

.title {
    margin-top: 20px;
    margin-bottom: 50px;
}

.buildScheduleCommon {
    > *:not(:last-child) {
        margin-bottom: 40px;
    }
}

.errorLabel {
    text-align: center;
    color: $color-error;
    min-height: 2.4em;
    margin-top: 5px;
    margin-bottom: 10px;
}
