@import 'config/bundle';

$track-height: 18px;
$track-width: 35px;
$transition: linear .05s;

.root {
    position: relative;
    display: flex;
    align-items: center;

    input {
        @include hideInput;
    }
}

.switch {
    position: relative;
    width: $track-width;
    height: $track-height;
    border-radius: $track-height / 2;
}

.track {
    &, &::before {
        width: 100%;
        height: 100%;
        border-radius: $track-height / 2;
    }
    
    border: 1px solid $color-grey;
    overflow: hidden;
    transition: border-color $form-transition;

    &::before {
        content: '';
        display: block;
        background-color: $color-off-black;
        transform: translateX(calc(-100% + (#{$track-height} - 1px)));
        transition: transform $transition;

        input:checked + & {
            transform: translateX(0);
        }
    }

    input:focus + & {
        border-color: $form-color-focus;
    }

    .rootInvalid & {
        border-color: $color-error;
    }
}

$handle-size: $track-height;
$handle-scale: scale(1.02);

.handle {
    background-color: $color-off-white;
    width: $handle-size;
    height: $handle-size;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 0) $handle-scale;
    box-shadow: 0 0 4px $color-grey;
    transition: transform $transition;
    
    input:checked ~ & {
        transform: translate($track-width - $handle-size, 0) $handle-scale;
    }
}

.text {
    margin-left: 10px;
}