@import 'config/bundle';

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color $anim-timing $anim-easing;

    &:hover:not(:disabled) {
        background-color: rgba(0, 0, 0, 0.03);
    }
}
