@import 'config/bundle';
@import '../common';

.credentialList {
    max-height: 30vh;
    overflow: overlay;
    margin: 0 -20px;
    padding: 0 20px;
}

.header {
    composes: thickBlueSeparator;
    composes: fillCardPadding;
    composes: cardPadding;
    padding: 0;
    padding-bottom: 10px;

    p {
        margin: 0;
        margin-top: 5px;
        text-align: center;
        font-weight: $font-weight-emphasized;
    }
}
.listElementRow {
    composes: cardPadding;
    composes: greySeparator;
    padding-top: 15px;
    padding-bottom: 15px;
}

.listElement {
    composes: blueSeparator;
    composes: fillCardPadding;
}

.copy {
    margin-right: 10px;
}
