@import 'config/bundle';

.credentialList {
    max-height: 30vh;
    overflow: overlay;
    margin: 0 -20px;
    padding: 0 20px;
}

.header::after,
.listElement::after {
    margin: 0 -20px;
    width: calc(100% + 40px);
    display: block;
    content: '';
    background-color: $color-light-blue;
}

.header::after {
    margin-top: 10px;
    height: 10px;
}

.listElement::after {
    height: 5px;
}

.closeButton {
    position: absolute;
    right: 25px;
    top: 25px;
}

.header {
    padding: 0;

    p {
        margin: 0;
        margin-top: 5px;
        text-align: center;
        font-weight: $font-weight-emphasized;
    }
}

.listElement {
    > div {
        border: 0;
        border-bottom: 0.5px solid $color-grey;
        padding: 15px 0;
    }

    :last-child {
        border-bottom: 0;
    }

    &:last-of-type::after {
        height: 0;
    }
}

.copy {
    margin-right: 10px;
}
