@import 'config/bundle';

.identityListElement {
    text-align: center;
    background-color: $color-white;

    &:focus {
        outline: none;
    }
}

.container {
    composes: flexColumn from global;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding-bottom: 40px;
}

.clickable {
    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 2px $color-pale-blue inset;
    }
}

.active {
    box-shadow: 0 0 0 2px $color-pale-blue inset;
}

.topRow {
    min-height: 1.2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightAligned {
    margin-top: 0;
    margin-left: auto;
}

.statusImage {
    max-height: 35px;
    max-width: 35px;
    margin-right: 10px;
}

.details {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
}

.failedDetails {
    composes: details;
    margin-top: -100px;
}

.detailsRow {
    padding: 13px;
    border-top: 1px solid $color-grey;
}

.failedDetailsLine {
    text-align: left;
    min-height: 2.5em;
    margin: 0;
    font-size: $font-size-body3;
}

.failedIdentityBody {
    word-break: break-word;
    white-space: break-spaces;
}

.failedDetailsBodyContainer {
    position: relative;
    text-align: left;
    padding: 10px;
    background-color: $color-off-white;
    box-shadow: 0 0 0 0.5px $color-grey inset;

    &Copied {
        background: $color-very-pale-green;
        box-shadow: 0 0 0 0.5px $color-pale-green inset;
    }
}

.failedDetailsBodyContainerButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

.form,
.name,
.nameField {
    max-width: 100%;
}

.form {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.name {
    font-weight: $font-weight-regular;
    padding: 0 40px;
    margin-bottom: 0;
}

.edit {
    position: absolute;
    right: 0;
    width: auto;

    svg {
        width: 20px;

        &,
        & * {
            fill: $color-grey;
        }
    }
}
