.accountList {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.chosenAccount {
    align-content: right;
    display: inline-block;
    width: 40%;
}

.blob {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: blue;
}

.halfPage {
    width: 50%;
}

.accountListElement {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-color: black;
    color: black;
    border-radius: 10px;
    margin-bottom: 15px;
}

.chosenAccountListElement {
    font-weight: bold;
    border-color: blue;
}

.accountActionsSpan {
    display: block;
}

.accountActionsSpan Link Button {
    padding-right: 10px;
}

.accountBalanceView {
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.accountBalanceView button {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.leftAlignedText {
    text-align: left;
    width: 50%;
}

.rightAlignedText {
    text-align: right;
    width: 50%;
}

.line {
    display: flex;
}
