.halfPage {
    width: 50%;
}

.identityListElement {
    border-radius: 5px;
    border: 10 px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 80%;
    background-color: oldlace;
    border-style: solid;
    border-color: black;
    color: black;
}

.identityListElement .name {
    text-align: center;
}

.chosenIdentityListElement {
    font-weight: bold;
    border-color: blueviolet;
}

.chosenIdentity {
    align-content: right;
    display: inline-block;
    height: 100%;
    width: 40%;
}