.leftAligned {
    display: flex;
    float: left;
    text-align: left;
    width: 40%;
    margin-left: 50px;
}

.rightAligned {
    float: right;
    text-align: right;
    width: 40%;
}

.transactionListElement {
    display: flex;
    background-color: oldlace;
    border-style: solid;
    border-color: black;
    color: black;
    border: 10 px;
    padding-top: 10px;
    padding-bottom: 10px;
}
