.leftAligned {
    display: flex;
    float: left;
    text-align: left;
    width: 40%;
    margin-left: 50px;
}

.rightAligned {
    float: right;
    text-align: right;
    width: 40%;
}

.transactionListElement {
    color: black;
    border: 0;
    border-top: 2px;
    border-style: solid;
    border-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.CopiableListElement {
    display: flex;
    color: black;
    border: 0;
    border-top: 2px;
    border-style: solid;
    border-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.transactionBox {
    background-color: white;
    border-style: solid;
    border-color: black;
    color: black;
    border: 10 px;
    border-radius: 10px;
}

.rightAlignedButton {
    float: right;
    margin-right: 10%;
}

.centeredText {
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.moreActionsItem {
    background-color: white;
    border-style: solid;
    border-color: black;
    color: black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 80%;
    margin-left: 10%;
}

.centerText {
    text-align: center;
}

.releaseScheduleItem {
    background-color: white;
}

.TransactionList {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 65vh;
}

.TransactionListHeader {
    display: flex;
}
.TransactionListHeader button {
    background: none;
    border: none;
    font-size: larger;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.TransactionListHighligtedButton {
    color: blue;
}
