$width: 600px;

.settingInput {
    max-width: $width;
    margin: 20px auto;
}

.genesisContainer {
    > * {
        max-width: $width;
        margin: 20px auto;
    }
}

.fileForm {
    .fileInput {
        height: 400px;
    }

    button {
        margin: 20px 0;
    }
}
