.settingInput {
    max-width: 400px;
    margin: 20px auto;
}

.genesisContainer {
    > * {
        max-width: 400px;
        margin: 20px auto;
    }
}

.fileForm {
    max-width: 400px;
    margin: 20px auto;
}
