.root {
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
}

.content {
    margin-left: -5px;
    margin-right: -5px;
}
