@import 'config/bundle';

.accountListElement {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $color-white;
    color: $color-text;
    box-shadow: 0 0 0 1px $color-text inset;
    padding: 15px 30px;

    &:focus {
        outline: none;
    }
}

.active {
    box-shadow: 0 0 0 2px $color-pale-blue inset;
}

.clickable {
    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 2px $color-pale-blue inset;
    }
}

.inline {
    display: inline;
    padding-right: 10px;
}

.dividingLine {
    content: '';
    background: $color-grey;
    width: calc(100% + 20px);
    height: 1px;
    display: block;
    margin-left: -10px;
}

.firstRow {
    margin: 0;
}

.row {
    margin: 10px 0;

    :last-of-type {
        margin-bottom: 0;
    }
}
