@import 'config/bundle';
@import '../../common/MultiSignatureFlowPage.module.scss';

.red {
    color: $color-salmon-red;
}

.gray {
    color: $color-grey;
}

.green {
    color: $color-pale-green;
}

.credentialListElement {
    display: flex;
    align-items: center;
    font-family: $font-family-mono;

    &:first-of-type {
        margin-top: 40px;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 14px;
        margin-bottom: 14px;
    }

    > * {
        flex: 1;
        margin: 0;
    }

    > *:nth-child(2) {
        word-break: break-all;
        flex: 2;
    }
}

.addingCard,
.fileInput {
    width: 100%;
    flex-grow: 1;
    margin: 40px 0;
}

.addingCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 400px;
    max-height: 600px;
    padding-bottom: 30px;
    margin-bottom: 0;

    > * {
        margin-left: 20px;
        margin-right: 20px;
    }

    p {
        word-break: break-all;
        margin: 20px 30px 0;
    }
}

.addingCardHeader {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    h2 {
        margin-top: 0;
        margin-left: auto;
    }

    button {
        margin: 0;
        margin-left: auto;
    }
}

.columnContainer {
    padding: 40px 0;
}

.rightColumnContainer {
    composes: columnContainer;
    width: 428px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;

    > * {
        width: 100%;
    }
}

.bold {
    font-weight: $font-weight-bold;
}

.inlineNumber {
    composes: h1 from global;
}

.createUpdateWrapper {
    margin-top: -40px;
    margin-bottom: -40px;
}

.errorLabel {
    text-align: center;
    color: $color-error;
    min-height: 2em;
}
