.row {
    display: flex;
    justify-content: space-between;
}

.left {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}
