@import 'config/bundle';

.top {
    text-align: center;
}

.input {
    margin-bottom: 25px;
}

.password {
    margin-top: 25px;
    margin-bottom: 50px;
}

.submit {
    margin-top: 14px;
}

.error {
    font-size: $font-size-body2;
    margin-top: 10px;
    color: $color-danger;
}

.success {
    font-size: $font-size-body2;
    margin-top: 10px;
    color: $color-success;
}
