@import 'config/bundle';

@mixin button($color) {
    &:not(.rootClear) {
        background-color: $color;
    }

    &:hover,
    &:focus,
    &:global(.active) {
        &:not(.rootInverted):not(.rootClear) {
            background-color: darken($color, 3);
        }
    }
}

.root {
    position: relative;
    border: none;

    &Clear {
        background: transparent;
        padding: 0;
    }

    &:not(.rootClear) {
        color: $color-off-white;
        font-size: $font-size-button1;
        padding: 0 30px;
        height: 50px;
        border-radius: 4px;
        transition: background-color $anim-easing $anim-timing;
    }

    @include button($color-pale-blue);

    &Small,
    &Big,
    &Huge {
        &:not(.rootClear) {
            border-radius: 10px;
        }
    }

    &Tiny {
        &:not(.rootClear) {
            height: 28px;
            font-size: $font-size-button2;
            padding: 0 15px;
        }
    }

    &Small {
        &:not(.rootClear) {
            height: 36px;
            font-size: $font-size-button2;
            padding: 0 15px;
        }
    }

    &Big {
        &:not(.rootClear) {
            height: 58px;
        }
    }

    &Huge {
        &:not(.rootClear) {
            height: 76px;
            font-size: $font-size-h2;
        }
    }

    &WithIcon {
        &:not(.rootClear) {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding-left: 50px;
        }
    }

    &:disabled:not(.rootInverted) {
        &:not(.rootClear) {
            background-color: $color-grey;
            border-color: $color-grey;
        }
    }

    &:hover,
    &:focus {
        outline: none;
    }

    &Danger {
        @include button($color-danger);
    }

    &Inverted {
        &:not(.rootClear) {
            background-color: $color-white;
            color: $color-text;
            box-shadow: 0 0 0 1px $color-text inset;
            transition: box-shadow $anim-easing $anim-timing;

            &:disabled {
                color: $color-text-faded;
            }

            &:hover,
            &:focus,
            &:global(.active) {
                box-shadow: 0 0 0 2px $color-pale-blue inset;
            }
        }

        &.rootDanger:not(.rootClear):not(:disabled) {
            color: $color-danger;
            box-shadow: 0 0 0 1px $color-danger inset;

            &:hover,
            &:focus,
            &:global(.active) {
                box-shadow: 0 0 0 2px $color-danger inset;
            }
        }
    }
}

.icon {
    display: flex;
    position: absolute;
    left: 20px;
}
