@import 'config/bundle';
@import '../../components/AccountListElement/AccountListElement.module';

.card,
.cardList {
    width: 428px;
}

.continueButton {
    display: block;
    margin: 20px auto;
}

.accountListElementPlaceholder {
    composes: accountListElement;
    min-height: 252px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
