@import 'config/bundle';

.root {
    text-align: left;
    word-break: normal;
}

.wrapper {
    display: flex;
    align-items: center;

    input {
        @include hideInput;
    }

    .rootDisabled & {
        cursor: default;
    }
}

.checkbox {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $color-grey inset;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow $form-transition;
    flex: 0 0 auto;
    margin-right: 7px;

    &Large {
        width: 26px;
        height: 26px;
        margin-right: 13px;
    }

    svg {
        opacity: 0;
        transition: opacity $form-transition;
        width: 60%;

        input:checked + & {
            opacity: 1;
        }
    }

    input:focus:not(:read-only) + &,
    .wrapper:hover input:not(:disabled):not(:read-only) + & {
        box-shadow: 0 0 0 2px $form-color-focus inset;
    }

    .rootInvalid & {
        box-shadow: 0 0 0 2px $color-error inset !important;
    }
}
