@import 'config/bundle';
@import '../common/common';

.root {
    display: flex;
    align-items: center;

    input {
        position: absolute;
        opacity: 0;
    }
}

.checkbox {
    width: 14px;
    height: 14px;
    border: 1px solid $color-grey;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    transition: border-color $form-transition;

    input:checked + &::before {
        content: '';
        display: block;
        width: 50%;
        height: 50%;
        background-color: $color-grey;
    }

    input:focus + & {
        border-color: $form-color-focus;
    }

    .rootInvalid & {
        border-color: $color-salmon-red;
    }
}