.card {
    flex-grow: 1;
    max-width: 428px;
}

.messages {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 428px;
}

.messagesTitleCompleted,
.messagesTitle {
    text-align: center;
}

.messagesTitleCompleted:first-child {
    margin-top: auto;
}

.messages,
.ledgerDiv {
    flex-grow: 1;
}

.ledgerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.introductionButtom,
.topButton,
.button {
    width: 400px;
    margin: 20px 40px;
}

.topButton {
    margin-top: auto;
}

.leftColumn {
    margin: 0 20px;
    composes: flexColumn from global;
    height: 100%;
}

.introduction {
    composes: flexColumn from global;
    composes: justifyCenter from global;
    composes: mH40 from global;
    height: 100%;
}

.introductionButton {
    margin: auto auto 0;
    width: 400px;
}
