.card {
    flex-grow: 1;
    max-width: 428px;
}

.messages {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messagesTitleCompleted,
.messagesTitle {
    text-align: center;
}

.messagesTitleCompleted:first-child {
    margin-top: auto;
}

.messages,
.ledgerDiv {
    height: 100%;
}

.ledgerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topButton,
.button {
    width: 400px;
    margin: 20px 40px;
}

.topButton {
    margin-top: auto;
}
