@import 'config/bundle';

.root {
    composes: card from '../GenerateCredential.module.scss';
    text-align: center;

    button:not(:first-of-type) {
        width: calc(100% - 40px);
        margin-top: 20px;
    }
}

.value {
    margin-top: 5px;
    margin-bottom: 25px;
}

.blueText {
    composes: value;
    color: $color-pale-blue;
}
