@import 'config/bundle';

.root {
    composes: card from '../GenerateCredential.module.scss';
    text-align: center;
    min-height: 520px;

    button:not(:first-of-type) {
        margin: 25px;
    }
}

.value {
    margin-top: 5px;
    margin-bottom: 25px;
}

.blueText {
    composes: value;
    color: $color-pale-blue;
}
