.root {
    text-align: center;
}

.submit,
.content {
    margin-top: 40px;
}

.content {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
