@import 'config/bundle';

.root,
.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding-left: $sidebar-width;
}

.bg {
    background-color: rgba($color-off-white, 0.6);
    margin-left: $sidebar-width;
}

.modal {
    position: relative;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 80px;
    background-color: $color-off-white;
    border: 1px solid $color-grey;
    border-radius: 10px;
    text-align: center;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
}
