@import 'config/bundle';

.root {
    display: inline-block;
    text-align: center;
}

.exponent {
    vertical-align: super;
    font-size: $font-size-body5;
}

.field:disabled {
    color: $color-text;
}

.description {
    composes: textFaded from global, body5 from global;
    margin-top: 5px;
}
