@import '../../common/MultiSignatureFlowPage.module.scss';

.submitButton {
    margin-top: auto;
}

.transactionDetailsColumn {
    > div {
        display: flex;
        flex-direction: column;
    }
}

.addRecipient {
    position: absolute;
    width: 36px;
    top: 51px;
    right: -40px;
}
