@import 'config/bundle';

.heightFull {
    height: 100%;
}

.wrapper {
    padding: 40px 0;
    max-width: 428px;
    margin: 0 auto;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.makeReportButton {
    margin-top: auto;
    margin-bottom: 20px;
}

.accountList {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.accountListElement {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    text-align: left;
    p {
        margin: 0;
    }

    button {
        margin-left: auto;
    }
}

.timestamp {
    margin: 40px auto;
    width: fit-content;
}

.address {
    font-size: $font-size-body3;
    color: $color-text-faded;
    max-width: 75%;
    word-break: break-all;
}

.filters {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

.addingCloseButton {
    position: absolute;
    right: -40px;
    top: 20px;
}

.AddAnotherAccountButton {
    position: relative;
    padding: 10px;
    margin: 10px 40px;

    button {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        margin-bottom: 0;

        span {
            font-size: $font-size-body3;
            padding-left: 20px;
            margin-bottom: 0;
        }

        * {
            margin-left: auto;
        }

        svg {
            height: $font-size-body3;
        }
    }
}
