@import 'config/bundle';

$half-max-width: $page-max-width / 2;

.columns {
    height: $page-height;
}

.halfMaxWidth {
    max-width: $half-max-width - (2 * $page-gutter);

    .master & {
        margin-left: auto;
    }

    .detail & {
        margin-right: auto;
    }
}

.column {
    width: 100%;
    max-width: 428px;
    margin: 0 auto;
}
