@import 'config/bundle';

.explicitSchedule {
    height: 80%;
}

.releases,
.amountUsed {
    margin: 0;
    font-size: $font-size-body3;
}

.amountUsed {
    composes: textfaded from global;
}

.addScheduleCard {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;

    form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 10px;
        min-height: 10vh;
    }

    h2 {
        margin: 0;
    }

    .addScheduleCardHeader {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100%;

        p {
            font-size: $font-size-body3;
            padding-left: 20px;
            margin-bottom: 0;
        }

        * {
            margin-left: auto;
        }

        svg {
            height: $font-size-body3;
        }
    }
}

.scheduleList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 80%;
    overflow: auto;
}

.scheduleListRow {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    :first-child {
        text-align: left;
    }

    :last-child {
        text-align: right;
    }

    * {
        flex-grow: 1;
    }
}

.binIcon {
    height: $font-size-body3;
    transition: transform $anim-easing $anim-timing;
    &:hover {
        transform: scale(1.1);
    }
}
