.listItem {
    list-style-type: none;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #dcdcdc;
}

.index {
    flex: 1;
    margin: auto 10px;
}

.keyText {
    overflow: hidden;
    flex: 0 1 auto;
    margin: 0;
}

.keyDiv {
    &::after {
        flex: 1;
        content: '';
    }

    display: flex;
}
