@import 'config/bundle';

.nodeStatus,
.body {
    composes: body4 from global;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    border: 1px solid $color-grey;
    padding: 10px 3px;
    border-radius: 7px;
}

.nodeStatus {
    justify-content: space-around;
}

.greenText {
    color: $color-success;
}

.redText {
    color: $color-danger;
}

.outer {
    margin: 20px 0 40px;
}

.statusImage {
    margin-right: -4px;
}
