@import 'config/bundle';

.buildSchedule {
    min-height: 850px;
    text-align: center;
    position: relative;

    > div {
        margin-bottom: 40px;
    }
}

.title {
    margin-top: 20px;
    margin-bottom: 50px;
}

.buildScheduleCommon {
    > * {
        margin-bottom: 40px;
    }
}
