@import 'config/bundle';

.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 78px;
    font-size: $font-size-body2;
    &,
    input {
        width: 100%;
    }

    input {
        -webkit-appearance: none;
        border: none;
        border-radius: 10px;
        height: 100%;
        font-size: inherit;
        padding: 0 20px 0 50px;
        text-align: center;
        box-shadow: 0 0 0 1px $color-grey inset;
        transition: box-shadow $anim-easing $anim-timing;

        &:focus {
            box-shadow: 0 0 0 2px $color-pale-blue inset;
            outline: none;
        }

        &::placeholder {
            transition: opacity $anim-easing $anim-timing;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }
}

.searchIcon {
    position: absolute;
    left: 25px;
    height: 40%;
    fill: $color-grey;
}
