@import 'config/bundle';
@import '../common/MultiSignatureFlowPage.module';

.detailsColumnContent,
.signColumnContent {
    max-width: 450px;
    composes: columnContent;
    margin: 0 auto;
}

.signColumnContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h5 {
        margin-top: 0;
    }
}

.submit {
    margin-top: 10px;
}
