@import 'config/bundle';
@import '../common/MultiSignatureFlowPage.module';

.signColumnContent {
    composes: columnContent;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h5 {
        margin-top: 0;
    }
}

.submit {
    margin-top: 10px;
}
