@import 'config/bundle';
@import '../common/MultiSignatureFlowPage.module';

.column {
    flex-basis: 560px;
}

.signColumnContent {
    composes: columnContent;

    h5 {
        margin-top: 0;
    }
}

.submit {
    margin-top: 10px;
}
