.red {
    color: red;
}

.gray {
    color: gray;
}

.green {
    color: green;
}

.listElement {
    margin-top: 20px;
}

.columns {
    flex: 0 0 560px;
    text-align: center;
}

.continueButton {
    margin-top: 20px;
}

.credentialListElement {
    display: flex;

    > * {
        flex-basis: 0;
        flex-grow: 1;
        margin: 0;
    }

    h5 {
        word-break: break-all;
    }
}

.addingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 400px;

    p {
        word-break: break-all;
    }
}
