@import 'config/bundle';

.scheduleList {
    margin-top: 10px;

    > * {
        margin-bottom: 10px;
    }
}

.scheduleListRow {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    :first-child {
        text-align: left;
    }

    :last-child {
        text-align: right;
    }

    * {
        flex-grow: 1;
    }
}

.binIcon {
    height: $font-size-body3;
    transition: transform $anim-easing $anim-timing;
    &:hover {
        transform: scale(1.1);
    }
}
