@import 'config/bundle';
@import '../common';

.transactionListElement {
    position: relative;
    padding: 10px 20px;

    &:focus {
        outline: none;
    }

    &:not(:last-child) {
        border-bottom: 0.5px solid $color-soft-grey;
    }
}

.clickableElement {
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 0 2px $color-pale-blue;
    }
}

.failedElement {
    padding-left: 30px;
}

.strikedThrough {
    text-decoration: line-through;
}

.warning {
    position: absolute;
    margin: 5px -25px;

    :global(.warning_svg__boundary) {
        fill: $color-error;
    }
}

.checkmark {
    position: relative;
    top: 1px;
    margin-left: 5px;
}

.greenText {
    color: $color-success;
}

.transactionGroup {
    &:last-child {
        margin-bottom: -19px;
    }
}

.transactionGroupHeader {
    composes: cardPadding;
    height: $thick-blue-separator-height;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    background-color: $color-light-blue;
    position: sticky;
    top: 0;
    z-index: 1;
}

.lineClamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.infinite {
    overflow: overlay !important;
}
