@import 'config/bundle';

.title {
    margin-bottom: 5px;
    margin-top: 40px;

    &:first-child {
        margin-top: 0;
    }
}

.subtitle {
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: $font-weight-regular;
}

.value {
    composes: mono from global;
}

.name {
    composes: value;
    composes: body3 from global;
    margin: 0;
}

.address,
.note {
    composes: value;
    font-size: $font-size-body4;
}

.amount {
    composes: value;
    composes: body3 from global;
    margin: 0;
}

.fee {
    composes: value;
    font-size: $font-size-body4;
    margin-top: 10px;
}

.note {
    color: $color-text-faded;
    margin: 0;
}

.memo {
    composes: value;
    composes: body3 from global;
    white-space: pre-wrap;
}
