@import 'config/bundle';
@import '../common';

.root {
    composes: thickBlueSeparatorTop;
    composes: fillCardPadding;
    composes: cardPadding;
    position: relative;
}

.errorMessage {
    color: $color-error;
    margin-bottom: 0;
}

.title,
.errorMessage,
.listElement,
.transactionListElement {
    composes: fillCardPadding;

    &:not(:last-child) {
        border-bottom: 0.5px solid $color-soft-grey;
    }
}

.title,
.errorMessage,
.listElement {
    composes: cardPadding;
    composes: greySeparator;
}

.title {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.errorMessage,
.listElement {
    padding-top: 10px;
    padding-bottom: 10px;
}

.copiableListElementLeftSide {
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.copiableListElementTitle {
    font-size: $font-size-body3;
    color: $color-text-faded;
    margin: 0;
}

.copyButton {
    position: relative;
    right: -8px;
}

.closeButton {
    position: absolute;
    top: 9px;
    right: 12px;
}

.eventsButtonOpen,
.eventsButtonClosed {
    position: absolute;
    right: 14px;
    padding-right: 0;
}

.eventsButtonOpen {
    transform: rotate(-90deg);
}

.eventsButtonClosed {
    transform: rotate(90deg);
}

.eventsTextClosed,
.event {
    font-size: $font-size-body4;
    margin-bottom: 5px;
    margin-right: 35px;
    margin-top: 0;
}

.eventsTextClosed {
    white-space: nowrap;
    height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
}
