@import 'config/bundle';
@import '../common';

.root {
    composes: thickBlueSeparatorTop;
    composes: fillCardPadding;
    composes: cardPadding;
    position: relative;
}

.errorMessage {
    color: $color-error;
    margin-bottom: 0;
}

.title,
.errorMessage,
.listElement {
    composes: greySeparator;

    &:not(:last-child) {
        border-bottom: 0.5px solid $color-soft-grey;
    }
}

.title,
.listElement {
    composes: fillCardPadding;
    composes: cardPadding;
}

.title {
    composes: pV10 from global;
    margin-bottom: 0;
}

.errorMessage,
.listElement {
    padding-top: 10px;
    padding-bottom: 10px;
}

.listElement:last-child {
    margin-bottom: -19px;
}

.copiableListElementLeftSide {
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.copiableListElementTitle {
    font-size: $font-size-body3;
    color: $color-text-faded;
    margin: 0;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 20px;
}
