@import 'config/bundle';
@import '../common';

.errorMessage,
.title {
    text-align: center;
}

.errorMessage {
    color: $color-error;
    padding-bottom: 10px;
}

.title,
.errorMessage,
.listElement {
    composes: fillCardPadding;
    composes: cardPadding;
    composes: greySeparator;

    &:not(:last-child) {
        border-bottom: 0.5px solid $color-soft-grey;
    }
}

.title {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.listElement {
    padding-top: 10px;
}

.copiableListElementLeftSide {
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.copiableListElementTitle {
    color: $color-text-faded;
    margin: 0;
}
