@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(-359deg);
    }
}

.root {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.syncIcon {
    position: absolute;
    right: -25px;
    transform-origin: center;
    animation: spin 1s linear;
    animation-iteration-count: infinite;
}
