@import 'config/bundle';

.accountBalanceView {
    background-color: $color-black;
    text-align: center;
    padding-bottom: 10px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.lock,
.blueShield {
    fill: $color-pale-blue;
}

.ViewingShielded {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.bold {
    font-weight: $font-weight-bold;
}

.bakerRow,
.amountRow,
.ViewingShieldedButton,
.shieldedAmount,
.blueText {
    color: $color-pale-blue;
}

.ViewingShieldedButton,
.amountRow {
    font-size: $font-size-body2;
}

.amountRow {
    margin: 10px 80px;
}

.bakerRow {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bakerImage {
    margin-right: 10px;
    g {
        fill: $color-pale-blue;
    }
}

.backgroundImage {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    fill: $color-grey;
    opacity: 0.3;
    z-index: 0;

    :global(.shield_svg__lock) {
        fill: $color-off-white;
    }
}

.shieldedAmount {
    position: relative;
    z-index: 1;

    :global(.shield_svg__lock) {
        fill: $color-black;
    }
}
