@import 'config/bundle';

.accountBalanceView {
    background-color: $color-black;
    text-align: center;
    padding-bottom: 10px;
    height: 250px;
}

.blueShield {
    fill: $color-pale-blue;
}

.ViewingShielded {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.bold {
    font-weight: $font-weight-bold;
}

.bakerRow,
.amountRow,
.ViewingShieldedButton,
.blueText {
    color: $color-pale-blue;
}

.ViewingShieldedButton,
.amountRow {
    font-size: $font-size-body2;
}

.amountRow {
    margin: 10px 80px;
}

.bakerRow {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bakerImage {
    margin-right: 10px;
    g {
        fill: $color-pale-blue;
    }
}
