@import 'config/bundle';

.accountBalanceView {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 15px;
    height: $account-balance-height;
    position: relative;
    overflow: hidden;
}

.details {
    display: inline-flex;
    flex-direction: column;
    min-width: 70%;
}

.lock,
.blueShield {
    fill: $color-pale-blue;
}

.viewingShielded {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-left: -20px;
}

.amountRow,
.shieldedAmount,
.blueText {
    color: $color-pale-blue;
}

.viewingShieldedButton,
.amountRow {
    font-size: $font-size-body2;
}

.viewingShieldedButton {
    flex: 0 0 50%;
    padding: 7px;
    background-color: darken($color-pale-blue, 10);
    color: $color-off-white;
    z-index: 1;
}

.active {
    background-color: $color-pale-blue;
}

.amountRow {
    display: inline-flex;
    margin: 10px 0;
}

.bakerImage {
    margin-right: 10px;
    g {
        fill: $color-pale-blue;
    }
}

.backgroundImage {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    fill: $color-grey;
    opacity: 0.3;
    z-index: 0;

    :global(.shield_svg__lock) {
        fill: $color-off-white;
    }
}

.shieldedAmount {
    composes: details;
    position: relative;
    z-index: 1;

    :global(.shield_svg__lock) {
        fill: $color-off-black;
    }
}

.accountNameWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -20px;
    width: calc(100% + 40px);
    border-bottom: 2px solid rgba($color-grey, 0.3);
    margin-bottom: 10px;
    padding: 0 15px 10px;
}

.accountName {
    max-width: calc(100% - 40px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-off-white;
    padding: 0 20px;
}

.accountNameHeader {
    margin-bottom: 0;
    padding: 0 25px;
}

.accountNameHeader,
.accountNameField {
    max-width: 100%;
}

.editNameButton {
    width: auto;
    position: absolute;
    right: 20px;
    display: inline-flex;

    svg {
        width: 20px;
        fill: rgba($color-off-white, 0.5);
    }

    &:hover svg {
        fill: $color-off-white;
    }

    &[type='submit'] {
        svg,
        svg * {
            fill: $color-off-white;
        }
    }
}

.defaultButton {
    position: absolute;
    top: 20px;
    left: 20px;

    svg path {
        stroke: $color-off-white;

        &[fill] {
            fill: $color-off-white;
        }
    }
}
