.fields {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}

.field {
    composes: body2 from global;

    &:first-child {
        margin-bottom: 50px;
    }
}
