.container {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fields,
.button {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.fields {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}

.button {
    margin-top: 50px;
}

.field {
    composes: body2 from global;

    &:first-child {
        margin-bottom: 50px;
    }
}
