.header {
    margin-top: 0;
}

.container {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.singleColumn {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.button {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.columns {
    margin-left: -35px;
    margin-right: -35px;
}

.identityColumnElement {
    width: 428px;

    & + & {
        margin-top: 20px;
    }
}
