@import 'config/bundle';

.header {
    margin-top: -19px;
    margin-left: -19px;
    margin-right: -19px;
    width: calc(100% + 38px);
    display: flex;
}

.button {
    padding: 10px;
    flex: 1;
    font-size: $font-size-button2;
    font-weight: $font-weight-emphasized;

    &:disabled {
        color: $color-pale-blue;
    }
}
