.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
}

.justifySpaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}
