@import 'config/bundle';

.flex {
    display: flex;
}

.errorLabel {
    text-align: center;
    color: $color-error;
}

.pickAmount {
    display: flex;
    flex-direction: column;
    > * {
        margin-top: 20px;
    }
}

.buildSchedule {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
