@import 'config/bundle';

.flex {
    display: flex;
}

.errorLabel {
    text-align: center;
    color: $color-error;
}

.pickAmount {
    display: flex;
    flex-direction: column;
    > * {
        margin-top: 20px;
    }
}

.buildSchedule {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.submitButton {
    margin-top: auto;
}

.transactionDetailsColumn {
    > div {
        display: flex;
        flex-direction: column;
    }
}

.rightColumn {
    > div {
        padding: 40px 20%;
    }
}
