@import 'config/bundle';

.red {
    color: red;
}

.gray {
    color: gray;
}

.green {
    color: green;
}

.continueButton {
    margin-top: auto;
}

.credentialListElement {
    display: flex;
    align-items: center;

    &:first-of-type {
        margin-top: 40px;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 14px;
        margin-bottom: 14px;
    }

    > * {
        flex-basis: 0;
        flex-grow: 1;
        margin: 0;
    }

    h5 {
        word-break: break-all;
    }
}

.addingCard,
.fileInput {
    width: 100%;
    flex-grow: 1;
    margin: 40px 0;
}

.addingCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 400px;
    max-height: 600px;
    padding: 40px;

    p {
        word-break: break-all;
        margin: 20px 20%;
    }

    button {
        margin-top: auto;
    }
}

.addingCardHeader {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    h2 {
        margin-top: 0;
        margin-left: auto;
    }

    button {
        margin: 0;
        margin-left: auto;
    }
}

.rightColumnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.PropertyName {
    margin: 0;
}

.LargePropertyValue {
    margin-top: 0;
    margin-bottom: 40px;
}

.bold {
    font-weight: $font-weight-bold;
}

.inlineNumber {
    composes: h1 from global;
}
