.red {
    color: red;
}

.gray {
    color: gray;
}

.green {
    color: green;
}

.listElement {
    &:not(:first-child) {
        margin-top: 20px;
    }
}

.columns {
    flex: 0 0 560px;
    text-align: center;
}

.continueButton {
    margin-top: 20px;
}
