@import '../../../../components/Form/common/common';

.root {
    color: $color-grey;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: $font-size-body1;
    border-bottom: 1px solid $color-off-black;
    white-space: pre;

    .rootDisabled & {
        border-color: transparent;
    }

    .rootInvalid & {
        border-color: $color-error;
    }
}

.label {
    color: $color-black;
}

.unit,
.field {
    color: $color-pale-blue;

    .rootDisabled & {
        color: inherit;
    }
}

.field {
    text-align: left;
    border: none;
}
