@import '../../../../components/Form/common/common';

.root {
    color: $color-grey;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: $font-size-body1;
    border-bottom: 1px solid $color-off-black;
    white-space: pre;

    .rootDisabled & {
        border-color: transparent;
    }

    .rootInvalid & {
        border-color: $color-error;
    }
}

.label {
    display: inline;
    color: $color-off-black;
}

.fieldWrapper {
    display: inline;
    color: $color-pale-blue;

    .rootDisabled & {
        color: $color-grey;
    }
}

.field {
    display: inline;
    text-align: left;
    border: none;
}

.reduced {
    margin-top: 5px;
    font-size: $font-size-body4;
}
