@import '../../../../components/Form/common/common';

.root {
    color: $color-grey;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: $font-size-body1;
    border-bottom: 1px solid $color-off-black;
    white-space: pre;

    .rootDisabled &,
    .rootDisplay & {
        border-color: transparent;
    }

    .rootDisplay & {
        font-size: $font-size-body3;
        font-family: $font-family-mono;
        color: $color-text;
    }

    .rootInvalid & {
        border-color: $color-error;
    }
}

.label {
    display: inline-block;
    color: $color-off-black;
    margin-bottom: 5px;
}

.fieldWrapper {
    display: inline;
    color: $color-pale-blue;

    .rootDisabled & {
        color: $color-grey;
    }

    .rootDisplay & {
        color: inherit;
    }
}

.field {
    display: inline;
    text-align: left;
    border: none;

    .rootDisplay & {
        color: inherit;
    }
}

.reduced {
    margin-top: 5px;
    font-size: $font-size-body4;
}
