* {
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    background-color: $color-off-white;
    margin: 0;

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 7px;
    }
    ::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.25);
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 0;
    }
}

button,
label {
    cursor: pointer;
}
