* {
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    background-color: $color-off-white;
    margin: 0;
}

button,
label {
    cursor: pointer;
}

.card {
    border: 1px solid $color-grey;
    border-radius: 10px;
}
