* {
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    background-color: $color-background;
    margin: 0;
    overflow: overlay;
    color: $color-text;
}

#root {
    opacity: 1;
}

// Scrollbar section inspired by https://stackoverflow.com/questions/21684101/css-vertical-scrollbar-padding-left-right-in-ul-possible
::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    cursor: pointer;
    height: 30px;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
        inset 1px 1px 0 rgba(0, 0, 0, 0.05);
}

a {
    &,
    &:hover,
    &:visited {
        color: $color-pale-blue;
    }
}

button,
label {
    cursor: pointer;
}
