@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
    font-family: $font-family;
    font-size: $font-size-body3;
    font-weight: $font-weight-regular;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h5,
.h5,
h6,
.h6 {
    line-height: 1.2;
    margin: calc(2rem - 0.14285714em) 0 1rem;

    &:first-child {
        margin-top: 0;
    }
}

.mono {
    font-family: $font-family-mono;
}

h1,
.h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-regular;
}

h2,
.h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-emphasized;
}

h3,
.h3 {
    font-size: $font-size-h3;
    font-weight: $font-weight-regular;
}

h5,
.h5 {
    font-size: $font-size-h5;
    font-weight: $font-weight-bold;
}

h6,
.h6 {
    font-size: $font-size-h6;
    font-weight: $font-weight-regular;
}

.body1 {
    font-size: $font-size-body1;
}

.body2 {
    font-size: $font-size-body2;
}

.body3 {
    font-size: $font-size-body3;
}

.body4 {
    font-size: $font-size-body4;
}

.body5 {
    font-size: $font-size-body5;
}

.bodyLight {
    font-weight: $font-weight-light;
}

.bodyRegular {
    font-weight: $font-weight-regular;
}

.bodyEmphasized,
em {
    font-weight: $font-weight-emphasized;
    font-style: normal;
}

.bodyBold,
b {
    font-weight: $font-weight-bold;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.textFaded {
    color: $color-text-faded;
}

.textError {
    color: $color-error;
}

.textWhite {
    color: $color-off-white;
}

.textBlue {
    color: $color-pale-blue;
}

.textNoWrap {
    white-space: nowrap;
}

.textBreakAll {
    word-break: break-all;
}
