@import 'config/bundle';

.top {
    text-align: center;
    padding: 30px 60px;
}

.input,
.password {
    font-size: $font-size-body2;
    margin-bottom: 25px;
}

.password {
    margin-top: 50px;
    margin-bottom: 50px;
}

.submit {
    margin-top: 50px;
}

.error {
    font-size: $font-size-body2;
    margin-top: 10px;
    color: $color-danger;
}

.success {
    font-size: $font-size-body2;
    margin-top: 10px;
    color: $color-success;
}
