@import 'config/bundle';

$thick-blue-separator-height: 13px;

.fillCardPadding {
    margin-left: -19px;
    margin-right: -19px;
    width: calc(100% + 38px);
}

.cardPadding {
    padding-left: 19px;
    padding-right: 19px;
}

.greySeparator {
    &:not(:last-child) {
        border-bottom: 0.5px solid $color-soft-grey;
    }
}

.blueSeparator {
    &:not(:last-child) {
        border-bottom: 5px solid $color-light-blue;
    }
}

.thickBlueSeparator {
    &:not(:last-child) {
        border-bottom: $thick-blue-separator-height solid $color-light-blue;
    }
}

.blueSeparatorTop {
    &:not(:first-child) {
        border-top: 5px solid $color-light-blue;
    }
}

.thickBlueSeparatorTop {
    &:not(:first-child) {
        border-top: $thick-blue-separator-height solid $color-light-blue;
    }
}
