@import 'config/bundle';
@import 'elements/bundle';

.listElement {
    margin-bottom: 20px;
}

.column {
    flex-basis: 560px;
}

.accountActionButton {
    height: 100px;
    width: 30%;
}

.accountBalanceView {
    background-color: #000;
    text-align: center;
    padding-bottom: 10px;
}

.accountBalanceView button {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.actionImage {
    width: 100%;
}

.inverted {
    filter: invert(100%);
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.buildSchedule {
    composes: flexbetween;
    border-radius: 10px;
    background-color: $color-off-white;
    padding: 15px 50px;
    height: 70vh;
    text-align: center;
    position: relative;

    h2 {
        margin-top: 0;
    }
}

.buildScheduleCommon {
    composes: flexbetween;
    height: 20%;

    .title {
        margin-top: 20px;
    }
}

.buildComponent {
    composes: flexbetween;
    height: 70%;
}
