@import 'config/bundle';
@import './common';

.releaseScheduleListHeader,
.releaseSchedule {
    width: calc(100% + 40px);
}

.releaseScheduleElement {
    composes: greySeparator;
    padding: 10px 20px;
}

.disabledAction {
    opacity: 0.3;
}

.expandButton {
    position: absolute;
    top: 15px;
    right: 20px;
}

.shrinkButton {
    position: absolute;
    top: 35px;
    right: 35px;
}

.showAddressContainer {
    composes: cardPadding;
    composes: fillCardPadding;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
