@import 'config/bundle';
@import './common';

.transactionListHeader {
    composes: thickBlueSeparator;
    composes: fillCardPadding;
    composes: cardPadding;
    margin-top: -20px;

    button {
        width: 50%;
        padding: 10px;
    }
}

.transactionListHeaderNotChosen,
.transactionListHeaderChosen {
    font-size: $font-size-button2;
    font-weight: $font-weight-emphasized;
}

.transactionListHeaderChosen {
    color: $color-pale-blue;
}

.transactionListElement {
    composes: fillCardPadding;
    position: relative;
    padding: 10px 20px;

    &:focus {
        outline: none;
    }

    &:not(:last-child) {
        border-bottom: 0.5px solid $color-soft-grey;
    }
}

.clickableElement {
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 0 2px $color-pale-blue;
    }
}

.failedElement {
    padding-left: 30px;
}

.strikedThrough {
    text-decoration: line-through;
}

.warning {
    position: absolute;
    margin: 5px -25px;

    :global(.warning_svg__boundary) {
        fill: $color-error;
    }
}

.checkmark {
    margin-left: 5px;
    margin-top: 5px;
}

.greenText {
    color: $color-success;
}
