@import 'config/bundle';

.text,
.header {
    text-align: left;
}

.header {
    grid-area: header;
    margin-top: 0;
}

.container {
    grid-row: 3 / end;
}

.item {
    cursor: pointer;
    height: 100px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    img {
        max-height: 100%;
    }
}

.active,
.item:hover {
    @include shadowBorder($color-pale-blue, 2px);
}
