.bakerFlowContinue {
    composes: mT50 from global;
    width: auto;
    min-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.backButton {
    position: absolute;
    top: 12px;
    left: 12px;
}
