@import '../../common';

$tabbed-card-header-height: 38px;

.root {
    padding-bottom: 1px;
}

.scroll {
    composes: fillCardPadding;
    position: relative;
    max-height: calc(
        100vh - #{$page-header-height} - 2 * #{$page-gutter} - #{$tabbed-card-header-height} -
            2px
    );
    overflow: overlay;
    padding-bottom: 19px;
}

.bar {
    composes: thickBlueSeparator;
    position: sticky;
    top: 0;
}
