@import 'config/bundle';

.root {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;

    &Divider {
        &::before {
            content: '';
            display: block;
            flex-basis: 1px;
            flex-shrink: 0;
            margin: 20px 0;
            width: 1px;
            background-color: $color-grey;
            height: calc(100% - 40px); // To account for margin
            position: absolute;
        }
    }

    &ColumnScroll {
        height: 100%;
    }
}

.column {
    flex: 0 1 100%;
    padding: $page-gutter;

    .rootColumnScroll & {
        height: 100%;
        overflow-y: auto;
    }

    &NoResize {
        flex-shrink: 0;
    }

    .rootVariableSize & {
        flex: 1 0 auto;

        &NoResize {
            flex-grow: 0;
        }
    }
}
