@import 'config/bundle';

.root {
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 48px;
    height: calc(100vh - $page-header-height);
    overflow: auto;

    &Boxed {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.box {
    border-radius: 10px;
    padding: 35px;
    background-color: $color-off-white;
    height: 100%;
    width: 100%;
    overflow: auto;
}
