.identityListElement {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-color: black;
    color: black;
    border-radius: 10px;
    margin-bottom: 15px;
}

.identityListElement h2 {
    text-align: center;
    color: black;
}

.chosenIdentityListElement {
    font-weight: bold;
    border-color: blueviolet;
}
