@import 'config/bundle';

.root {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    transform: translateY(100%);
    background-color: $color-off-white;
    border: 1px solid $color-grey;
    padding: 7px;
    width: 180px;
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: border-bottom-color $anim-easing $anim-timing,
        border-left-color $anim-easing $anim-timing,
        border-right-color $anim-easing $anim-timing;

    &,
    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        border-bottom-color: $color-pale-blue;
        border-left-color: $color-pale-blue;
        border-right-color: $color-pale-blue;
        color: $color-pale-blue;

        svg,
        svg path {
            fill: $color-pale-blue;
        }
    }
}

.text {
    padding-right: 10px;
    width: 90px;
    text-align: center;
}

.arrows {
    overflow: visible;

    path {
        transition: transform $anim-easing $anim-timing;

        :where(.root:hover, .root:focus) &:first-of-type {
            transform: translateX(2px);
        }
        :where(.root:hover, .root:focus) &:last-of-type {
            transform: translateX(-2px);
        }
    }
}
