.transferView {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 30px;
}

.closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
}

.backButton {
    position: absolute;
    top: 12px;
    left: 12px;
}
