.transferView {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 60px;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

.backButton {
    position: absolute;
    top: 20px;
    left: 20px;
}
