.transferView {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 60px;
}

.closeButton {
    position: absolute;
    top: 25px;
    right: 25px;
}

.backButton {
    position: absolute;
    top: 25px;
    left: 25px;
}
