@import 'config/bundle';
@import 'elements/bundle';

.regularInterval {
    display: flex;
    flex-direction: column;
    height: 100%;

    > * {
        margin-bottom: 40px;
    }
}

.submitButton {
    margin-bottom: 20px;
    margin-top: auto;
}
