@import 'config/bundle';

.root {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: $color-off-white;
    width: 100%;
    height: calc(100% - 60px);
    overflow: overlay;
    text-align: center;
}

.back,
.close {
    position: absolute;
    top: $page-container-padding-vertical - 5px;
}

.back {
    left: $page-container-padding-vertical - 5px;
    padding-left: 11px;
    padding-right: 13px;
}

.close {
    right: $page-container-padding-vertical - 5px;
}

.paddingVertical {
    padding-top: $page-container-padding-vertical;
    padding-bottom: $page-container-padding-vertical;
}

.paddingHorizontal {
    padding-left: $page-container-padding-horizontal;
    padding-right: $page-container-padding-horizontal;
}

.paddingBoth {
    padding: $page-container-padding-vertical $page-container-padding-horizontal;
}
