@import 'config/bundle';

.form {
    composes: spanBoth from '../IdentityIssuance.module.scss';
    align-self: center;
}

.field {
    margin-left: 50px;
    margin-right: 50px;
    font-size: $font-size-body2;
}
