@import '../common/multiSignatureFlowPage';

.signaturesColumnContent {
    composes: columnContent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fileInput {
    height: 200px;
}
