@import 'config/bundle';
@import '../../common';

$card-padding: 20px;
$credential-information-header-height: 65px;

.credentialList {
    max-height: calc(
        100vh - #{$page-header-height} - 2 * #{$page-gutter} - #{$card-padding} -
            #{$credential-information-header-height}
    );
    overflow: overlay;
    margin: 0 -20px;
    padding: 0 20px;
}

.header {
    composes: thickBlueSeparator;
    composes: fillCardPadding;
    composes: cardPadding;
    padding: 0;
    padding-bottom: 10px;

    p {
        margin: 0;
        text-align: center;
        font-weight: $font-weight-emphasized;
        font-size: 15px;
    }
}

.row {
    composes: cardPadding;
    composes: greySeparator;
}

.listElementRow {
    composes: row;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 50px;
    align-items: center;
}

.attributesRow {
    composes: row;
    padding-top: 15px;
    padding-bottom: 15px;
}

.noteRow {
    composes: listElementRow;

    & > *:nth-child(2) {
        justify-content: right;
        align-items: flex-start;
        text-align: right;
        max-width: 70%;
    }
}

.listElement {
    composes: blueSeparator;
    composes: fillCardPadding;
}

.copy,
.editNote {
    margin-right: 10px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.editNote {
    display: inline-flex;
    position: relative;
    padding-top: 6px;
    padding-right: 6px;

    svg {
        height: 20px;
        fill: $color-grey;
    }
}
