.listItem {
    columns: 2;
    list-style-type: none;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #dcdcdc;
}

.keyText {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}
