@import 'config/bundle';

/* TODO: How to do this in a proper way? */
.close {
    position: absolute;
    right: 65px;
}

.checkbox {
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.fileInput {
    height: 400px;
    margin: 40px 0;
}
