$font-family: 'Roboto', 'Inter', sans-serif;
$font-family-mono: 'Roboto Mono', 'Inter', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-emphasized: 500;
$font-weight-bold: 700;

$font-size-h1: 36px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h5: 14px;
$font-size-h6: 12px;

$font-size-body1: 24px;
$font-size-body2: 18px;
$font-size-body3: 14px;
$font-size-body4: 12px;
$font-size-body5: 10px;

$font-size-button1: 17px;
$font-size-button2: 15px;
