$sidebar-width: 147px;
$page-header-height: 94px;
$page-height: calc(100vh - #{$page-header-height});
$page-gutter: 48px;
$page-max-width: 1600px;

$page-container-padding-vertical: 30px;
$page-container-padding-horizontal: 30px;

$anim-timing: 0.1s;
$anim-easing: ease-out;

$form-color-focus: $color-pale-blue;
$form-transition: $anim-easing $anim-timing;
