@import 'config/bundle';

.root {
    display: inline;
}

.input {
    -moz-appearance: textfield;
    border: none;
    padding: 0;
    color: $color-pale-blue;
    font-size: inherit;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:focus {
        outline: none;
    }
}
