@import 'config/bundle';

.content {
    min-width: 264px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: block;
    width: 100%;
    font-size: $font-size-body3;
}

.name {
    composes: input;
    font-size: $font-size-h2;
}

.submit {
    min-width: 239px;
    margin-top: 36px;
}
