@import 'config/bundle';

.header {
    margin-top: 0;
}

.card {
    width: 464px;
    margin: 0 auto;
}

.content {
    width: 264px;
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 40px;
}

.input {
    display: block;
    width: 100%;
    font-size: $font-size-body3;
}

.name {
    composes: input;
    font-size: $font-size-h2;
}

.submit {
    max-width: 239px;
    margin: 36px auto 0;
}
