@import 'config/bundle';

.regularInterval {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;

    > *:not(:last-child) {
        margin-bottom: 40px;
    }
}

.releasesInputWrapper {
    font-size: $font-size-body1;
}

.releasesInput {
    max-width: 50%;
}

.submitButton {
    margin-top: auto;
}
