@import 'config/bundle';

.root {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search {
    height: 58px;
    font-size: $font-size-h3;
}

.item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.add {
    position: absolute;
    top: 5px;
    right: -20px;
}
