@import 'config/bundle';

.subtractContainerPadding {
    height: calc(100% + #{$page-container-padding-vertical});
    margin-bottom: -$page-container-padding-vertical;
}

.column {
    height: 100%;
}

.columnContent {
    padding-top: 30px;
    padding-bottom: 30px;
    word-break: break-word;

    .stretchColumn & {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
}
