@import 'config/bundle';

.subtractContainerPadding {
    height: calc(100% + #{$page-container-padding-vertical});
    margin-bottom: -$page-container-padding-vertical;
}

.column {
    height: 100%;
}

.columnContent {
    padding-top: 40px;
    padding-bottom: 40px;
    word-break: break-word;
    max-width: 428px;
    margin: 0 auto;

    .stretchColumn & {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
}
