@import 'config/bundle';

.body {
    flex: 1 1 100%;

    &SubtractPadding {
        margin-bottom: -$page-container-padding-vertical;
    }
}

.column,
.columnContent {
    height: 100%;
}

.columnContent {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    word-break: break-word;

    .stretchColumn & {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
