@import 'config/bundle';

.root {
    position: fixed;
    height: 100vh;
    width: $sidebar-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset -10px 0 15px -10px $color-grey;
    z-index: -1;
}

.items {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bottom,
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item {
    flex: 0 0 94px;

    &Active {
        background-color: $color-background;
        box-shadow: 0 0 15px 0px $color-grey;
    }
}

.bottom {
    padding: 10px 0;
    color: $color-text-faded;
}