@import 'config/bundle';

.checkbox {
    margin-bottom: 15px;
    font-size: $font-size-body2;
    position: relative;
}

.signedCheckoxLabel {
    text-align: left;

    > * {
        font-size: $font-size-body3;
        color: $color-text-faded;
    }
}
