@import '../../../../../components/Form/common/common';

.field {
    color: $color-pale-blue;
    display: block;
    font-size: $font-size-body2;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:disabled,
    &:read-only {
        border-bottom: none;
    }

    &:disabled {
        color: $color-text-faded;
    }

    &:read-only {
        color: $color-text;
    }
}

.display {
    font-family: $font-family-mono;
    font-size: $font-size-body3;
}

.blockTime {
    color: $color-text-faded;
    font-size: $font-size-body4;

    .display + & {
        font-family: $font-family-mono;
    }
}
